@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@for $weight from 100 through 900 {
  .geist-#{$weight} {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
  }
}
